.eventEditor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  label {
    margin-bottom: 15px;
    display: block;

    & > * {
      width: 100%;
    }
  }

  textarea {
    height: 60px;
  }
}

.rewardContainer {
  margin-top: 30px;
  border: 1px solid #e2e2e2;
  padding: 10px;

  &:nth-child(2n + 1) {
    background-color: #f1f1f1;
  }
}
