.variablesEditor {
  background-color: #ffffff;
}

.eventListItem{
  display: flex;
  justify-content: space-between;

  &:nth-child(2n) {
    background-color: #f1f1f1;
  }
}

.eventListItemLink {
  flex-grow: 1;
}
