.sortableList {
  .container {

  }
}

.listItem {
  display: flex;

  &:nth-child(2n) {
    background-color: #f1f1f1;
  }
}

.dragHandler {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px 7px;
  cursor: move;
  margin-right: 9px;
}
